VK_GROUP_TOKEN=vk_group_token_here
VK_GROUP_ID=vk_group_id_here
VK_BOT_API_TOKEN=internal_backend_bot_secret_here
INTERNAL_SERVICE_TOKEN=generate_a_random_64_character_token
SECURITY_JWT_SECRET=generate_a_base64_encoded_48_byte_secret
TAX_MYTAX_INN=taxpayer_inn_here
TAX_MYTAX_PASSWORD=my_tax_password_here
