.page {
    padding: 20px;
    font-family: "Segoe UI", sans-serif;
}

.createDish {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.createDish input {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.btn {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background-color: #16a34a;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.dishList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dishItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f3f4f6;
    border-radius: 8px;
}
.dishInfo {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.dishName {
    font-weight: 600;
    color: #111827;
}

.techBtn {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background-color: #2563eb; /* синий, чтобы отличался от "Добавить блюдо" */
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.techBtn:hover {
    background-color: #1d4ed8;
}
